  </body>

  <script src="/script/common.js"></script>
  <script src="/script/updateTables.js"></script>
  <script src="/script/factors.js"></script>

  <footer>
    © Copyright 2021 Gwanhee Lee
  </footer>
  
</html>